<div class="w-full grid grid-cols-1 lg:grid-cols-12 gap-5 lg:gap-10 2xl:gap-14 my-5 lg:my-10">
    <!-- Academic Background -->
    <div class="w-full lg:col-span-4">
      <h3 class="text-[18px] lg:text-[24px] dark:text-[#fff] font-semibold text-center tracking-[-1px]">Academic Background</h3>
      <div class="flex flex-wrap gap-[20px] lg:gap-[24px] 2xl:gap-[40px] items-center justify-center p-6 mt-5 lg:mt-5 lg:min-h-[300px] rounded-3xl border border-gray-200 bg-gray-900/20 dark:border-gray-600/60 dark:bg-gray-900/40">
        <img src="assets/img/instructors/academic/university-of-florida.webp" alt="university" class="w-[60px] lg:w-[85px] 2xl:w-auto">
        <img src="assets/img/instructors/academic/iit-madras.webp" alt="university" class="w-[60px] lg:w-[85px] 2xl:w-auto">
        <img src="assets/img/instructors/academic/bits-pilani.webp" alt="university" class="w-[60px] lg:w-[85px] 2xl:w-auto">
        <img src="assets/img/instructors/academic/rensselaer-polytechnic-institute.webp" alt="university" class="w-[60px] lg:w-[85px] 2xl:w-auto">
        <img src="assets/img/instructors/academic/rensselaer-polytechnic-institute1.webp" alt="university" class="w-[60px] lg:w-[85px] 2xl:w-auto">
        <img src="assets/img/instructors/academic/university-of-california.webp" alt="university" class="w-[60px] lg:w-[85px] 2xl:w-auto">
      </div>
    </div>
  
    <!-- Industry Experience -->
    <div class="w-full lg:col-span-5">
      <h3 class="text-[18px] lg:text-[24px] dark:text-[#fff] font-semibold text-center tracking-[-1px]">Industry Experience</h3>
      <div class="flex flex-wrap gap-[20px] lg:gap-[24px] 2xl:gap-[40px] items-center justify-center p-6 mt-5 lg:mt-5 lg:min-h-[300px] rounded-3xl border border-gray-200 bg-gray-900/20 dark:border-gray-600/60 dark:bg-gray-900/40">
        <img src="assets/img/instructors/industry/microsoft.webp" alt="industry" class="w-[60px] lg:w-[85px] 2xl:w-auto">
        <img src="assets/img/instructors/industry/yahoo.webp" alt="industry" class="w-[60px] lg:w-[85px] 2xl:w-auto">
        <img src="assets/img/instructors/industry/meta.webp" alt="industry" class="w-[60px] lg:w-[85px] 2xl:w-auto">
        <img src="assets/img/instructors/industry/visa.webp" alt="industry" class="w-[60px] lg:w-[85px] 2xl:w-auto">
        <img src="assets/img/instructors/industry/google.webp" alt="industry" class="w-[60px] lg:w-[85px] 2xl:w-auto">
        <img src="assets/img/instructors/industry/astra-zeneca.webp" alt="industry" class="w-[60px] lg:w-[85px] 2xl:w-auto">
        <img src="assets/img/instructors/industry/workday.webp" alt="industry" class="w-[60px] lg:w-[85px] 2xl:w-auto">
      </div>
    </div>
  
    <!-- Teaching Experience -->
    <div class="w-full lg:col-span-3">
      <h3 class="text-[18px] lg:text-[24px] dark:text-[#fff] font-semibold text-center tracking-[-1px]">Teaching Experience</h3>
      <div class="flex flex-wrap gap-[20px] lg:gap-[24px] 2xl:gap-[40px] items-center justify-center p-6 mt-5 lg:mt-5 lg:min-h-[300px] rounded-3xl border border-gray-200 bg-gray-900/20 dark:border-gray-600/60 dark:bg-gray-900/40">
        <img src="assets/img/instructors/teaching/berkeley.webp" alt="teaching" class="w-[60px] lg:w-[85px] 2xl:w-auto">
        <img src="assets/img/instructors/teaching/stanford-university.webp" alt="teaching" class="w-[60px] lg:w-[85px] 2xl:w-auto">
      </div>
    </div>
  </div>
  
