
<app-header></app-header>

    <section class="grid-section" style="padding-top: 30px; padding-bottom:30px;">
        <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 h-auto min-h-screen">
          <!-- First Grid: Animated Text Centered -->
          <div class="flex items-center justify-center p-5 md:p-0">
            <h1 class="text-[36px] lg:text-[53px] dark:text-[#FFFFFF] font-semibold mb-6" style="font-size: 3em;">Fostering Leaders with Generative AI</h1>
            <h1 class="animated-text-container">
                <span class="animated-text">Tune</span>
                <span class="animated-text">Transform</span>
                <span class="animated-text">Thrive</span>
            </h1>
          </div>
      
          <!-- Second Grid: Full-size Image -->
          <div class="image-container">
            <img src="/assets/banner_img.png" alt="Full Size Image" class="w-full rounded-xl" />
          </div>
          
        </div>
        
      </section>
      <br/>
      <hr>
      <br/>
      <section class="grid-section">
        
        <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 h-auto min-h-screen" style="max-width:1400px; ">
            <div class="flex items-center justify-center p-5 md:p-0">
              
                  <h1 class="about-us-text">About Us</h1>
                  </div>
                <div>
                    <br/>
                  <h4 class="about-us-desc" style="font-weight:500; margin-left:-200px; margin-right:20px;">
                    At Mool AI, we are committed to empowering today's AI leaders through innovative education and practical learning experiences. Our academy provides state-of-the-art courses, expert-led workshops, and a dynamic community of learners, all focused on advancing the field of AI technology.
                  </h4>
                </div>
            </div>
      </section>
      <br/>
      <hr>
      <br/>
      <section class="usecase">
        <div class="header__content">
            <div style="max-width:1000px;">
                <h1 class="main__header" style="text-align: center; margin-left: auto; margin-right:auto;">New Launch</h1>
              <h4 class="section__subtitle" style="text-align: center; margin-left: auto; margin-right:auto; max-width: 1000px;">
                Now launching intensive In-Person Gen AI bootcamp for Software Engineers/QA/Product Managers</h4>
              </div>
            
            </div>
    </section>
    <br/>
    <section class="course-details-section" style="padding-top: 30px; padding-bottom:30px;">
        <div class="container lg:flex items-center mx-auto grid grid-cols-1 md:grid-cols-2" style="max-width:1400px; padding-left:30px; padding-right:30px;">
          <!-- Left Section with Text and Image -->
          <div class="details-column w-full lg:w-1/2 p-10 lg:p-0" style="display: flex; justify-content:center; align-items:center;">
            <div class="w-full grid grid-cols-1 lg:grid-cols-2 gap-6 lg:gap-14" >
             <!-- Location -->
           <div class="container lg:flex items-center mx-auto grid grid-cols-1 md:grid-cols-2">
            <div class="detail-item detail-flex detail-items-center lg:border-r border-gray-600">
            <div class="icon-container">
              <img class="icon-image" src="/assets/img/location.jpg" alt="Location">
            </div>
            <div class="detail-text">
              <h4 class="detail-title">Location</h4>
              <p class="detail-description">San Ramon | LiveStream</p>
            </div>
          </div>
          <!-- Duration -->
          <div class="detail-item detail-flex detail-items-center">
            <div class="icon-container">
              <img class="icon-image" src="/assets/img/duration.jpg" alt="Duration">
            </div>
            <div class="detail-text">
              <h4 class="detail-title">Duration</h4>
              <p class="detail-description">8 hours</p>
            </div>
          </div>
          <!-- Next Cohort -->
          <div class="detail-item detail-flex detail-items-center lg:border-r border-gray-600">
            <div class="icon-container">
              <img class="icon-image" src="/assets/img/date.jpg" alt="Starting Date">
            </div>
            <div class="detail-text">
              <h4 class="detail-title">Next Cohort</h4>
              <p class="detail-description">March 22 2025</p>
            </div>
          </div>
          <!-- Time -->
          <div class="detail-item detail-flex detail-items-center">
            <div class="icon-container">
              <img class="icon-image" src="/assets/img/time.jpg" alt="Time">
            </div>
            <div class="detail-text">
              <h4 class="detail-title">Time</h4>
              <p class="detail-description">9 AM - 5 PM PST</p>
            </div>
          </div>
          <!-- Cost -->
          <div class="detail-item detail-flex detail-items-center lg:border-r border-gray-600">
            <div class="icon-container">
              <img class="icon-image" src="/assets/img/cost.jpg" alt="Cost">
            </div>
            <div class="detail-text">
              <h4 class="detail-title">Cost</h4>
              <p class="detail-description">
                <span style="text-decoration: line-through; color: red;">$700</span>
                &nbsp;&nbsp;<span style="font-weight: bold; color: green;">$399</span>
              </p>
            </div>
          </div>
          <!-- Weekdays -->
          <div class="detail-item detail-flex detail-items-center">
            <div class="icon-container">
              <img class="icon-image" src="/assets/img/weekends.jpg" alt="Weekdays">
            </div>
            <div class="detail-text">
              <h4 class="detail-title">Weekend</h4>
              <p class="detail-description">Saturday</p>
            </div>
          </div>
        </div>
        </div>
            </div>
          
      
          <!-- Right Section with Full-Size Image -->
          <div class="image-container">
            <img src="/assets/img/studets-img.jpg" alt="Students" class="w-full rounded-xl">
          </div>
        </div>
      </section>
      <br/>
      <hr>
      <br/>
      <section class="usecase">
        <div class="header__content">
            <div style="max-width: max-content;">
                <h1 class="main__header" style="text-align: center; margin-left: auto; margin-right:auto;">Limited enrollment, so secure your seat today!</h1>
                <br/>
                <div class="booknowbutton"><button mat-raised-button color="primary" (click)="openBookNow()">Book Now</button></div>
            
            </div></div>
    </section>
    <br/>
      <hr>
      <br/>
      <section class="usecase">
        <div class="header__content">
            <div style="max-width: max-content;">
                <h1 style="text-align: center; margin-left: auto; margin-right:auto; font-weight:bold; font-size:2.5em;">Why Choose Us?</h1>
            
            </div></div>
    </section>
    <section>
        <br/><br/>
        <app-custom-carousel></app-custom-carousel>
        <br/>
    </section>
    
    <section class="hide-on-mobile">
      <hr><br/>
      <div class="header__content">
          <div class="profession" style="max-width: 1000px;">
              <h1 class="main__header" style="text-align: center; margin-left:auto; margin-right:auto;">Tailored Learning for Every Profession</h1>
              <br/>
              <div class="detail-flex items-center justify-center">
                <div class="detail-flex items-center" style="margin-right: 40px; padding-right:40px;">
                  <img src="assets/img/students.jpg" alt="students" class="w-[60px] lg:w-[80px] xl:w-auto">&nbsp;&nbsp;
                  <h3 class="text-[18px] lg:text-[24px] dark:text-[#FFFFFF] font-semibold">Students</h3>
                </div>
                <br/><br/>
                <div class="detail-flex items-center" style="margin-right: 40px; padding-right:40px;">
                  <img src="assets/img/professionals.jpg" alt="professionals" class="w-[60px] lg:w-[80px] xl:w-auto">&nbsp;&nbsp;
                  <h3 class="text-[18px] lg:text-[24px] dark:text-[#FFFFFF] font-semibold">Professionals</h3>
                </div>
                <div class="detail-flex items-center" style="margin-right: 40px; padding-right:40px;">
                  <img src="assets/img/businesses.jpg" alt="businesses" class="w-[60px] lg:w-[80px] xl:w-auto">&nbsp;&nbsp;
                  <h3 class="text-[18px] lg:text-[24px] dark:text-[#FFFFFF] font-semibold">Businesses</h3>
                </div>
              </div>
            </div>
          
          </div>
  </section>

<br/><br/><hr>
<br/>
    <section class="usecase">
      <div class="header__content">
          <div style="max-width:1000px;">
              <h1 class="main__header" style="text-align: center; margin-left: auto; margin-right:auto;">Our Instructor’s Background</h1>
              <br/>
            </div>
            <br/>
            
            </div>
            <app-instructor-experience></app-instructor-experience>
            <br/>
            </section>
            <br/><br/><hr>
            <br/>
                <section class="usecase">
                  <div class="header__content">
                      <div style="max-width:1400px;">
                          <h1 class="main__header" style="text-align: center; margin-left: auto; margin-right:auto;">Bootcamp Highlights</h1>
                          <h4 class="section__subtitle" style="text-align: center; margin-left: auto; margin-right:auto; max-width: 1400px;">
                            Build custom LLM applications from deployment to customization, in one comprehensive program.</h4>
                        </div>
                        </div>
                        <br/>
                        <app-curriculum-highlights></app-curriculum-highlights>
                        <br/><br/>
                        </section>
                        <br/><br/><hr>
                        <br/>
                        <section>
                          <div class="header__content">
                            
                                <h1 class="main__header" style="text-align: center; margin-left: auto; margin-right:auto;">Frequently Asked Questions</h1>
                               
                              
                            </div>
                            <br/><br/>
                            <app-faq></app-faq>
                            </section>
                            <br/><br/><hr>
                        <br/><br/>
                        <footer>
                          <div>
                            <div class="py-6 px-4 dark:bg-black text-center">
                              <span class="text-sm dark:text-gray-300 sm:text-center">
                                Copyrights © 2024 
                                <a href="/" class="hover:underline">Mool AI</a> 
                                All Rights Reserved.
                              </span>
                              
                            </div>
                           
                          </div>
                          
                        </footer>
    <!-- navbar end  -->
    <!-- <footer class="footer">
      <div class="copy">Copyright © Mool AI 2024. All rights reserved. </div>
    </footer> -->
