.section-header {
    margin-bottom: 50px;
    text-align: center;
    color:white;
  }
  
  
  .section-header img{
    width: 485px; 
    height: 120px;
}
 
.footer {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(69,83,207,1) 35%, rgba(199,103,7,1) 100%);
  }
  .footer__bar {
 
    margin: auto;
    padding: 0.5rem;
    text-align: center;
    font-size: 1.5rem;
    color: white;
  }
.arrows {
	width: 60px;
	height: 72px;
}

.arrows path {
	stroke: white;
	fill: transparent;
	stroke-width: 1px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}

.container {
    max-width: 700px;
    width: 100%;
    background: #ffffff;
    padding: 25px 30px;
    border-radius: 5px;
  }
  
  .container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
  }
  
  .container .title::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 170px;
    background: linear-gradient(90deg, #4277B6 21.7376708984375%, #7B4BA5 80.91797232627869%);
    left: 0;
    bottom: 0;
  }
  
  .container form .user-details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  
  form .user-details .input-box {
    margin-bottom: 15px;
   
  }
  
  .user-details .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }
  
  .user-details .input-box input {
    height: 50px;
    width: 100%;
    outline: none;
    border-radius: 50px;
    border: 1px solid #cccccc;
    padding-left: 15px;
    font-size: 18px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  
  .user-details .input-box input:focus,
  .user-details .input-box input:valid {
    border-color: #4553cf;
  }
  
  form .button {
    height: 45px;
    margin: 20px 20px;
  }
  
  form .button input {
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 50px;
    background: linear-gradient(90deg, #4277B6 21.7376708984375%, #7B4BA5 80.91797232627869%);
  }
  
  form .button input:hover {
    background: linear-gradient(90deg, #7B4BA5 21.7376708984375%, #4277B6 80.91797232627869%);
  }
  
  @media (max-width: 584px) {
    .section-header img{
        width: 260px; 
        height: 100px;
    }
    .container {
      max-width: 100%;
    }
  
    form .user-details .input-box {
      margin-bottom: 15px;
      width: 100%;
    }
  
    form .gender-details .category {
      width: 100%;
    }
  
    .container form .user-details {
      max-height: 300px;
      overflow-y: scroll;
    }
  
    .user-details::-webkit-scrollbar {
      width: 0;
    }
  }