<!-- <div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
     <button type="button" class="btn active" data-toggle="button" aria-pressed="true" (click)="scrollToTop()">
        <i class="fas fa-chevron-up" ></i>
    </button> 
    <a
        type="button"
        data-toggle="button" aria-pressed="true"
        class="btn active btn-danger btn-floating btn-lg"
        id="btn-back-to-top"
        [routerLink]=""
        (click)="scrollToTop()"
        >
  <i class="fas fa-arrow-up"></i>
</a>
  </div> -->

  <div class="scroll-to-top">

    <button id="myBtn" type="button" class="myBtn btn active" data-toggle="button" (click)="scrollToTop()">

        <i class="fas fa-chevron-up" ></i>

    </button>

  </div>

